<%= link_to "Home", "/" %>
<h3>Login Here!</h3>
<%= form_for :sessions, url: sessions_path do |f| %>
   <%= f.label "email" %> <%= f.text_field :email %>
   <%= f.label "password" %><%= f.text_field :password %>
   <%= f.button :submit %>
<% end %>
