<!DOCTYPE html>
<html>
  <head>
    <title>LoginRegistrationRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if current_user %>
      <p>Hi <%= current_user.first_name %>!</p>
      <%= link_to "Home", "/posts" %> |
      <%= link_to "Logout", '/sessions', method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
